/*
	momentGrabber
	version : 0.1.7
	authors : Alex Galiyev
	license : MIT
	https://github.com/rknetwork/moment-grabber
*/

.momentgrabber {
	width: auto;
	position: absolute;
	background-color: white;
	border: 1px solid lightgray;
	padding: 0.3em;
	z-index: 10000;
}

/* Common classes */

.mg-flex-between {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.mg-flex-around {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-content: space-around;
	-ms-flex-line-pack: distribute;
	align-content: space-around;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.mg-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mg-calendar-controls {
	text-align: center;
}

/* Calendar */

.mg-calendar table {
	width: 100%;
	text-align: center;
}

.mg-calendar thead th {
	color: gray;
	font-weight: normal;
}

.mg-calendar-month {
	margin-left: auto;
	margin-right: 0.2em;
}

.mg-days-view .mg-calendar-year {
	margin-right: auto;
}

.mg-grayedout {
	color: #b0b0b0;
}

.mg-day, .mg-month {
	cursor: pointer;
	padding: 0.5em;
}

.mg-day:hover, .mg-month:hover {
	background-color: #f0f0f0;
}

.mg-disabled {
	cursor: not-allowed;
}

.mg-disabled:hover {
	background-color: transparent;
}

.mg-selected-hl,.mg-selected-hl:hover {
	background-color: #adb8bd;
	color: white;
}

/* Time */

.mg-time > div {
	text-align: center;
}

.mg-time {
	width: 75%;
	margin: 0 auto 0 auto;
	font-size: 1.5em;
}

.mg-time a {
	font-size: 0.75em;
}

.mg-ampm {
	margin-left: -1em;
	font-variant: small-caps;
}

.mg-am {
	color: blue;
}